{% if site.theme_settings.katex and page.id %}
<script src="{{ "/assets/js/katex_init.js" | relative_url }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer>
	<div class="site-footer">
	<a href="https://rockarch.org/about-us/privacy-policy/">Privacy Policy</a>
	<p class="text">{{ site.theme_settings.footer_text }}</p>
	</div>
	<div class="license-footer">
		<a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
      <img src="{{ '/assets/img/ccby.png' | relative_url }}" alt="CC-BY" />
    </a>
	</div>
	<p>
</footer>
{% endif %}
