<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/nav-toggle.js"></script>

{% if page.layout == 'categories' or page.layout == 'authors' or page.layout == 'tags' %}
<script src="/assets/js/anchor.min.js"></script>
<script>
  $(function() {
    anchors.options = {
      placement: 'left',
    }
    anchors.add('h2');
  });
</script>
{% endif %}

<!-- use RAC Style Library table formatting for Markdown tables-->
<script type="text/javascript">
  $(document).ready(function () {
    $("table").addClass("table table-striped table-responsive");
  });
</script>
