.grid{
  display: flex;
}
.site-footer {
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: lighten($text-color, 10%);
  font-size: 0.9em;
}
.license-footer{
  margin-top: 1em;
  margin-left: 1px;
  margin-right: 2em;
  margin-bottom: 1em;
}

