---
layout: page
title: authors
---
<script src="/assets/js/anchor.min.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script>
  $(function() {
    anchors.options = {
      placement: 'left',
    }
    anchors.add('h2');
  });
</script>
{% capture author_list %}{% for post in site.posts %}{% for author in post.author %}{{author}}{% unless forloop.last %},{% endunless %},{% endfor %}{% endfor %}{% endcapture %}
{% assign author_names = author_list | split:',' | sort %}

{% assign prev = null %}
{% for author in author_names %}
 {% if author !="" %}
 {% unless author == prev %}
 <h2 id="{{ author | cgi_escape }}" class="author-title">{{author}}</h2>
 {% for post in site.posts %}
  {% if post.author contains author %}
   {% if post.title != null %}
     <div class="author-post">
       <h3 class="title">
         <a href="{{ post.url | relative_url }}">
           {{ post.title }}
         </a>
       </h3>
       <div class="meta">
         {{ post.date | date: "%B %-d, %Y" }}
       </div>
     </div>
{% endif %}
{% endif %}
{% endfor %}
{% endunless %}
{% endif %}
{% assign prev = author %}
{% endfor %}
