<!DOCTYPE html>
<html class="no-js">
  {% include head.html %}
  <body>
    
<!-- Matomo Tag Manager -->
<script>
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.async=true; g.src='https://cdn.matomo.cloud/rockarch.matomo.cloud/container_fidDxcnh.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->
    
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
  {% include scripts.html %}
</html>
