---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <div class="wrapper">
    <div class="container grid">
      <main id="main">
        <h1>Recent Posts</h1>
        {% for post in paginator.posts %}
        <div class="post-teaser mb-20">
          <h2 class="text--orange">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h2>
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
          <div class="excerpt pb-10">
            {{ post.excerpt }}
          </div>
          <div class="continue-reading">
            <button class="btn btn--sm btn--orange pb-5 pt-15">
              <a href="{{ post.url | relative_url }}" aria-label="{{ post.title | escape }}">
                {{ site.theme_settings.str_continue_reading }}
              </a>
            </button>
          </div>
        </div>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
          <button class="btn btn--sm btn--blue">
            <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}" >
              <i class="fa fa-chevron-left"></i>
              {{ site.theme_settings.str_previous_page }}
            </a>
          </button>
          {% endif %}
          {% if paginator.next_page %}
          <button class="btn btn--sm btn--blue">
            <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}" >
              {{ site.theme_settings.str_next_page }}
              <i class="fa fa-chevron-right"></i>
            </a>
          </button
          {% endif %}
        </div>
        {% endif %}
      </main>
    </div>
  </div>
</div>

<script language='javascript'>
 var posts_map = {};
 {% for page in site.posts %}
   {{post}}
   {% if page.post_id %}
     posts_map[{{ page.post_id }}] = "{{ page.url }}"
   {% endif %}
 {% endfor %}

 function getParameterByName(name) {
     name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
     var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
         results = regex.exec(location.search);
     return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
 }

 var id = getParameterByName('p');
 var url = posts_map[id];

 if (url) {
   window.location.replace("{{site.baseurl}}"+url);
 }
 </script>
